#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
command[check_memcached]=/usr/local/lib/nagios/plugins/check_memcache.py -H 127.0.0.1 -p ${TCP_PORT} -c version
